<section class="container main-content pt-1">
    <div class="row">
        <div class="col-4">
            <select class="form-selected" (ngModelChange)="onLanguageChange($event)" [(ngModel)]="selectedLanguage">
                <option selected>Select Option</option>
                <option *ngFor="let item of languagaesList" [value]="item.languageId">{{item.language}}</option>
            </select>
        </div>
        <div class="col-4">
            <select>
                <option selected>Select Topics</option>
                <ng-container *ngIf="topicList$|async as topics">
                    <option *ngFor="let topic of topics" [value]="topic.languageTopicID">{{topic.topicName}}</option>
                </ng-container>

            </select>
        </div>
    </div>

</section>